# Postgres DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uliss
POSTGRES_URL=jdbc:postgresql://localhost:5432/uliss

AUTH_SERVER_ISSUER=http://localhost:9000
ALLOWED_CORS_URLS=*


# React SPA
APP_CLIENTS_SPA_CLIENT_ID=uliss-spa
APP_CLIENTS_SPA_REDIRECT_URI=http://localhost:3000/callback

# M2M
APP_CLIENTS_M2M_CLIENT_ID=uliss-internal
APP_CLIENTS_M2M_CLIENT_SECRET=password